<!DOCTYPE html>
    <head>
		<%= partial "head" %>
	</head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
	        
		<div class="container">
	        <div class="header">
	        </div>
		<%= partial "nav" %>
		<%= partial "top" %>
        <%= yield %>
		<%= partial "footer" %>
	</div>
	<%= partial "end" %>
	<%= partial "gallery" %>
    </body>
</html>
