<div id="<%= "#{sponsorName}" %>-block" class="col-md-4 sponsor-block-cn">
    <div class="sponsor-block-inner">
        <div id="<%= "#{sponsorName}" %>-img-div">
            <a id="<%= "#{sponsorName}" %>-href" target="_blank" href="">
                <img id="<%= "#{sponsorName}" %>-img" alt="" class="sponsor-img" src="">
            </a>
        </div>
    </div>
</div>
<script>
    sponsor_names.push("<%= "#{sponsorName}" %>");
</script>