<div class="container-fluid container-sponsors">
    <div class="row">
        <div class="col-md-6">
            <div class="twitter-panel">
                <a class="twitter-timeline" height="483px" width="100%" data-chrome="nofooter noscrollbar transparent" href="https://twitter.com/search?q=%23healthhack+from%3Acraigdbutt+OR+from%3Afctweedie+OR+from%3Asauramaia+OR+from%3Aokfnau+OR+from%3Arkstedman+OR+from%3ADrAndrewYap+OR+from%3Asixthforce+OR+from%3Aa_sean_fleming+OR+from%3Aalisonmarigold+OR+from%3AChrisChinch+OR+from%3ASirRustyroo+OR+from%3Aperrynfowler+OR+from%3AKathyReid+OR+from%3Apiawaugh+OR+from%3Adfflanders+OR+from%3ALeon_Vandenberg+OR+from%3Aannaleeanda+OR+from%3AJenniferSmithCo+OR+from%3Anicsmythe+OR+from%3AWeAreSydney+OR+from%3AWeMelbourne+OR+from%3Awepublichealth" data-widget-id="394592403312496640">
                Tweets about "#healthhack from:craigdbutt OR from:fctweedie OR from:sauramaia OR from:okfnau OR from:rkstedman OR from:DrAndrewYap OR from:sixthforce OR from:a_sean_fleming OR from:alisonmarigold OR from:ChrisChinch OR from:SirRustyroo OR from:perrynfowler OR from:KathyReid OR from:piawaugh OR from:dfflanders OR from:Leon_Vandenberg OR from:annaleeanda OR from:JenniferSmithCo OR from:nicsmythe OR from:WeAreSydney OR from:WeMelbourne OR from:wepublichealth"</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="sideoffset">Our Sponsors (2014)</h3>
              <div class="row text-center">
                  <div class="col-md-4 col-sm-6 col-xs-12"><% link_to 'http://www.thoughtworks.com', :target => '_blank' do %><%= image_tag 'img/sponsors/thoughtworks.png', :class => 'sponsor' ,:alt => 'ThoughtWorks' %><% end%></div>
                  <div class="col-md-4 col-sm-6 col-xs-12"><% link_to 'http://www.garvan.org.au', :target => '_blank' do %><%= image_tag 'img/sponsors/garvan.png', :class => 'sponsor' , :alt => 'Garvan Institute' %><% end%></div>
                  <div class="col-md-4 col-sm-6 col-xs-12"><% link_to 'http://www.v3.org.au/', :target => '_blank' do %><%= image_tag 'img/sponsors/v3.png', :class => 'sponsor' , :alt => 'V3 Alliance' %><% end%></div>
                  <div class="col-md-4 col-sm-6 col-xs-12"><% link_to 'http://fishburners.org/', :target => '_blank' do %><%= image_tag 'img/sponsors/fishburners.png', :class => 'sponsor' , :alt => 'FishBurners' %><% end%></div>
                  <div class="col-md-4 col-sm-6 col-xs-12"><% link_to 'https://www.vlsci.org.au', :target => '_blank' do %><%= image_tag 'img/sponsors/vlsci.png', :class => 'sponsor' , :alt => 'VLSCI'  %><% end%></div>
                  <div class="col-md-4 col-sm-6 col-xs-12"><% link_to 'http://changemakersfestival.org/event/healthhack-2/', :target => '_blank' do %><%= image_tag 'img/sponsors/change-makers-festival.png', :class => 'sponsor' , :alt => 'Part of the Change Makers Festival' %><% end%></div>
                  <div class="col-md-4 col-sm-6 col-xs-12"><% link_to 'https://github.com/', :target => '_blank' do %><%= image_tag 'img/sponsors/github.png', :class => 'sponsor' , :alt => 'GitHub' %><% end%></div>
                  <div class="col-md-4 col-sm-6 col-xs-12"><% link_to 'hhttp://www.monash.edu.au/', :target => '_blank' do %><%= image_tag 'img/sponsors/monash.png', :class => 'sponsor' , :alt => 'Monash University' %><% end%></div>
                  <div class="col-md-4 col-sm-6 col-xs-12"><% link_to 'https://www.nectar.org.au', :target => '_blank' do %><%= image_tag 'img/sponsors/nectar.png', :class => 'sponsor' , :alt => 'NeCTAR' %><% end%></div>
                </div>
          </div>
    </div>
</div>
