---
title: Melbourne
---

<html>
  <head>
    <title>sdfsdf</title>
    <style>
      #map_canvas {
        width: 250px;
        height: 250px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map_canvas');
        var mapOptions = {
          center: new google.maps.LatLng(-37.8738344,145.0013385),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(-37.8738344,145.0013385),
            map: map,
            title: 'Melbourne'
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>

    <div class="row">
      <div class="col-md-9">
        <h3><b>Melbourne HealthHack Challenges</b></h3>

<div markdown="block">
***  
</div>        
        <div class="row">
          <div class="col-md-7">
            <h3>Health and Society Expeditions </h3>
            <em><h4>Presented by Frederick Michna, Monash University </h4></em>
          </div>
          <div class="col-md-5">
<a href="http://www.monash.edu.au/" target="_blank"><%= image_tag 'img/sponsors/monash.jpg', :style => 'width:300px;',:alt => 'Monash University' %></a>
          </div>
        </div> 

<div markdown="block">

***  

The internet is a quagmire of health information, health misinformation and health disinformation. Public health information services, both in government and the broader civil society, are interested in communications activities which inform people of how to approach this information critically. Improving public critical thinking in the use of these information sources should increase the efficiency and outcomes of human/health-system interactions. Critical thinking is a verb. Top-down dissemination of information will not support this sort of learning. Developments in interactive journalism may be able to provide a way to impact upon public critical thinking.

Our problem is to develop a data-journalism tool that can be used to facilitate content coding of online videos and visualise patterns in that content. Such a tool would provide virtual communities a broad perspective of a curated media landscape. For example, a person who has been recently diagnosed with a mental illness might be interested in understanding the media around their diagnosis. A not-for-profit working to relieve mental illness might be interested in facilitating that conversation about media perceptions. In response to a disease outbreak, (such as ebola), an individual may be interested in understanding how the media representations shape our perceptions. An international relief agency may be interested in monitoring the response to inform their media campaigns for donations. 

#### Example Video Coding Tasks:

- Purpose of creator
- Imputed Target Demographic
- Medical Treatments referenced
- Geocoding (place references)
- Demographics of video ‘Actors’
- Sentiment
- Open Description
- Validation of the above


#### Examples of ‘Citizen Science’ interactive journalism projects in Australia
- [http://volunteer.ala.org.au/](http://volunteer.ala.org.au/)
- [http://exploretheseafloor.net.au/](http://exploretheseafloor.net.au/)
- [http://www.ozdocs.climatehistory.com.au/](http://www.ozdocs.climatehistory.com.au/)

***
</div>

 <div class="row">
          <div class="col-md-8">
            <h3>I want to know if flies can adapt to climate change</h3>
            <em><h4>Presented by Philippa Clare Griffin, The University of Melbourne </h4></em>
          </div>
          <div class="col-md-4">
<a href="http://www.unimelb.edu.au/" target="_blank"><%= image_tag 'img/sponsors/unimelb.jpg', :alt => 'The University of Melbourne' %></a>
          </div>
        </div> 

<div markdown="block">

***  

Thanks to next-generation DNA sequencing technologies, evolutionary biologists can now regularly tackle important questions like “What are the genes involved in adaptation to climate?” and “What genomic factors prevent climate-sensitive species from adapting?” 

The bottleneck in our research is the computational work involved in processing huge amounts of raw DNA sequence data. VLSCI researchers have developed a pipeline, Rubra, built on the Ruffus Python library, that allows us to process and analyse genomic data on the powerful VLSCI computing cluster. However this pipeline needs improvement to make it more generally usable and flexible. Within our research group, this will make Rubra accessible to biologists with limited programming skills, and allow us to easily customise our workflow for each new experiment. This will take us closer to understanding the genomic basis for climate adaptation, which in turn will let us identify the types of species most in need of protection under climate change. 

***

</div>

 <div class="row">
          <div class="col-md-8">
            <h3>We want a data visualisation tool to simplify a person’s epilepsy story</h3>
            <em><h4>Presented by  Kate Birch and Anne Mcintosh, The University of Melbourne </h4></em>
          </div>
          <div class="col-md-4">
<a href="http://www.unimelb.edu.au/" target="_blank"><%= image_tag 'img/sponsors/unimelb.jpg', :alt => 'The University of Melbourne' %></a>
          </div>
        </div> 

<div markdown="block">

***

  Epilepsy is a disorder of brain functions that takes the form of recurring seizures. 3-4% of the Australian population will be diagnosed with epilepsy. There are a range of seizure types that people can experience, a variety of seizure triggers, a wide range of antiepileptic drugs and therapeutic doses, and over the course of a person's epilepsy story the impact of epilepsy on a their life will vary.
  Patient history information is usually stored in narrative text making longitudinal analysis difficult. The tool that we would like to developed will be used by clinicians to visualise patient data, and find correlations between seizure frequency, medication, severity of impact on life, and any potential surgery. A dataset containing typical patient stories will be made available in the week leading up to Heathlth Hack 2014.

  ***

</div>

 <div class="row">
          <div class="col-md-8">
            <h3>I want an app for research questions that correlates lifestyle factors with behaviour</h3>
            <em><h4>Presented by Ben Fulcher, The University of Melbourne </h4></em>
          </div>
          <div class="col-md-4">
<a href="http://www.unimelb.edu.au/" target="_blank"><%= image_tag 'img/sponsors/unimelb.jpg', :alt => 'The University of Melbourne' %></a>
          </div>
        </div> 

<div markdown="block">

***  

Platform for monitoring ability
Mood & decision making 

log location, time, and emotional state
end up with mood predictor - if user gives permission to track speed of key entering, can tell if you're depressed

***

</div>

      </div>
      <div class="col-md-3">
        <div id="map_canvas"></div>
        <h3>Address:</h3>
        <p>ThoughtWorks Melbourne
            Level 23
            303 Collins St
            Melbourne VIC 3000</p>
        <h3>Organisers:</h3>
        <p>Maia Sauren</p>
      </div> 
    </div> 
  </body>
  <%= partial "sponsors" %>
</html>