---
title: Sydney
---

<html>
  <head>
    <title>sdfsdf</title>
    <style>
      #map_canvas {
        width: 250px;
        height: 250px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map_canvas');
        var mapOptions = {
          center: new google.maps.LatLng(-33.863001,151.208787),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(-33.863001,151.208787),
            map: map,
            title: 'Sydney'
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>

    <div class="row">
      <div class="col-md-9">
        <h3><b>Sydney HealthHack Challenges</b></h3>

<div markdown="block">
***  
</div>    

         <div class="row">
          <div class="col-md-9">
            <h3> Pedigree tree drawing tool </h3>
            <em><h4>Presented by Andreas Zankl, Garvan Institute</h4></em>
          </div>
          <div class="col-md-3">
<a href="http://www.garvan.org.au/" target="_blank"><%= image_tag 'img/sponsors/garvan.jpg', :style => 'width:150px;',:alt => 'Garvan Institute' %></a>
          </div>
        </div>
        <br/>

<div markdown="block">

***

A pedigree chart is a diagram that shows the occurrence and appearance or phenotypes of a particular gene or organism and its ancestors from one generation to the next, most commonly humans, show dogs, and race horses.

Pedigrees are commonly used in families to find out the probability of a child having a disorder in a particular family. its two most prominent goals are to discover where the genes in question are located (x, y, or autosome chromosome), and to determine whether a trait is dominant or reccessive. 

My proposition for the HealthHack is to build a prototype of a tool which will allow to draw pedigree charts with capability to import and export existing data.

***

</div>
        <div class="row">
          <div class="col-md-9">
            <h3> I want to process and elegantly read a mountain of dynamic single cell data </h3>
            <em><h4>Presented by James Burchfield, Garvan Institute</h4></em>
          </div>
          <div class="col-md-3">
            <a href="http://www.garvan.org.au/" target="_blank"><%= image_tag 'img/sponsors/garvan.jpg', :style => 'width:150px;',:alt => 'Garvan Institute' %></a>
          </div>
        </div>
        <br/>

<div markdown="block">
***  
</div>    

        <div>

          <h4>The problem</h4>
          A large proportion of currently known biological knowledge was historically obtained using population based experiment. However, technological advances have enabled the behaviour of single cells to be studied in real time. Using microscopy, we have found that the behaviour of single cells significantly varies from one another and from population averages via conventional assays. The resulting avalanche of data has been difficult to manually process and visualise without obscuring individual behaviours, leaving broad biological insights difficult to determine.

          <h4>The dream</h4>
          The dream solution would be a self-contained tool that integrates the workflow required to analyse single cell microscopy data and allows visualisation of data from multiple cells in an intuitive and elegant manner. Ideally the program would be able to read time sequence of images, isolate cells and extract biological data from the cell such as fluorescence, mobility and cell size in preparation for further processing within an analytical part of the toolbox (both automated for standard analysis methods as well as manual for data exploration). The generated data would then be displayed and aggregated/clustered based on the cells selected by the user and can then be related back to the original cell by displaying the data in conjunction with the source image.

          <h4>The hack</h4>
          Although we are a long way from the dream solution, the pressing problems in the current workflow can be summarised into three components: data processing, data quantification and cluster analysis.
          The image processing, although performed manually, is significantly advanced. However, the normalisation and signal processing methods are very crude. As such it is difficult to obtain robust quantifications of the system behaviour. More specifically, the noisiness of the data makes curve fitting and the robust identification of primary and subsequent responses from stimulations difficult. Processing methods such as low pass filtering are inappropriate as they distort the temporal data, causing inaccuracies in the quantification of dynamical parameters such as half times and initiation time of post-primary responses.
            <br/>
          Secondly, although dynamic traits of the population, such as translocation dynamics, cannot be easily visualised: graphing them individually is difficult to visualise; graphing them together creates a messy plot of overlapping lines; and graphing their statistical parameters (mean and standard deviation) obscures the underlying distribution. As such, it is difficult to understand the global consequence of the distribution profile of the heterogeneous cell responses.
          Finally, the data would be ideally clustered based on the previously determined dynamical parameters and the temporal dynamics such that subpopulations of cells with similar behaviours can be identified which would potentially provide another source of biological insight that can explain the population behaviour and disease.

          <h4>The future</h4>
          Although this problem outline is centred on microscopy data, the essence of the problem is in processing and representing single cell data. As further technological progress is made, more single cell based assays will become available. This will increase the amount of single cell data generated all of which will require representation in a way that shows population behaviour as a consequence of its member responses. As such the solution to this specific problem will no doubt be useful as other single cell assays are developed.

        </div>

<div markdown="block">
***  
</div>    

         <div class="row">
          <div class="col-md-8">
            <h3>Life expectancy calculations for Aboriginal and Torres Strait Islander</h3>
            <em><h4>Presented by Clare Coleman, Senior Research Fellow, Sydney Centre for Aboriginal and Torres Strait Islander Statistics (SCATSIS) | Faculty of Health Sciences, The University of Sydney </h4></em>
          </div>
          <div class="col-md-4">
              <a href="http://sydney.edu.au/" target="_blank"><%= image_tag 'img/sponsors/usyd.png', :alt => 'The University of Sydney' %></a>
          </div>
        </div> 

<div markdown="block">

***  

Life expectancy calculations for Aboriginal and Torres Strait Islander men and women are subject to a large number of assumptions.
I would like a model that shows the differences that differing underlying assumptions make. The ABS and AIHW both have different assumptions of under-identification in different age groups, they don’t put errors around that but we could! We could look at a variety of models and see what we come up with, and if it is different from the official statistics.
Something graphical that lets people get away from the life tables.

***

</div>

         <div class="row">
          <div class="col-md-9">
            <h3>Automated way of comparing sequencing results to a template, identifying the point mutations and amino acid substitutions, and presenting the analyses in an appropriate table format</h3>
            <em><h4>Presented by Dr Tyani Chan, Garvan Institute</h4></em>
          </div>
          <div class="col-md-3">
            <a href="http://www.garvan.org.au/" target="_blank"><%= image_tag 'img/sponsors/garvan.jpg', :style => 'width:150px;',:alt => 'Garvan Institute' %></a>
          </div>
        </div> 

<div markdown="block">

***  

Our lab needs an automated way of comparing sequencing results to a template, identifying the point mutations and amino acid substitutions, and presenting the analyses in an appropriate table format. 

### The Significance of Our Research
Our Immunology research explores Germinal Centres, discrete structures found in lymphoid tissues (such as spleen and lymph nodes), that underpin current vaccine strategies and also form the basis of long-lived antibody protection from viruses & bacteria. We use experimental mouse models to study the Somatic Hypermutation (SHM) process that occurs within B Cell Antigen Receptors in the Germinal Centre, which generates high-affinity B cells and therefore high-quality, long-lived antibody protection. When tight control systems within the Germinal Centre break down, this results in immune disorders such as autoimmune disease and allergy.

### The Problem
After performing flow cytometry based experiments that sort single spleen cells from mice responding to an infection, we PCR amplify the DNA from a single cell’s B Cell Antigen Receptor using a nested PCR approach, and obtain sequencing results covering the region of interest, which is 113 amino acids long.  

We would love to have a tool or application that allows us to fully automate our analyses, which currently costs us several days of researcher time, which we imagine could be reduced to several minutes. 

The manual analysis currently involves the following steps: 
1) Compare sequencing results (.seq file) to wild-type template
2) Identify where the mutations lie
3) Check the validity and quality of the read by studying the chromatogram trace (.ab1 file)
4) If the quality is sufficient, trim the sequence result such that only the region of interest remains, and translate the nucleic acids into amino acids. 
5) In an Excel spreadsheet (with the help of some basic macros), we copy the amino acid sequence from ApE or DNA Strider into Excel, convert text to columns (to get 1 letter in 1 cell) and then copy /paste the 113 amino acid sequence into a separate Excel spreadsheet.
6) Using some basic formulae, these sequences are placed into a table that only shows the amino acid substitions and not those amino acids that match the original template (germline sequence). Please see attached example table.
7) This table is then converted to pdf format to allow manipulation of colours, line weights etc in Adobe Illustrator, ready for manuscript submission or conference presentations.

***

</div>

      </div>
      <div class="col-md-3">
        <div id="map_canvas"></div>
        <h3>Address:</h3>
        <p>ThoughtWorks Australia Pty. Ltd.
            8/51 Pitt Street
            Sydney NSW 2000</p>
        <h3>Organisers:</h3>
        <p>Kelvin Nicholson</p>
        <p>Svetlana Filimonova</p>
      </div> 
    </div> 
  </body>
  <%= partial "sponsors" %>
</html>