<footer>
	<div class="panel panel-default">
	<div class="row panel-body">
		<div class="col-md-3 col-sm-3 col-xs-12">
			<a href="http://changemakersfestival.org/event/healthhack/" target="_blank"><%= image_tag 'img/sponsors/changemakers.png', :class => 'img-responsive', :alt => 'Part of the Change Makers Festival' %></a>
		</div>
		<div class="col-md-9 col-sm-9">
			<h4>Sponsors</h4>
			<div class="row" id="sponsors">
				<div class="col-md-4 col-sm-4 col-xs-6"><%= image_tag 'img/sponsors/tw.jpg', :class => 'img-responsive', :alt => 'ThoughtWorks' %></div>
				<div class="col-md-4 col-sm-4 col-xs-6"><%= image_tag 'img/sponsors/monash.jpg', :class => 'img-responsive', :alt => 'Monash University, Faculty of IT' %></div>
				<div class="col-md-4 col-sm-4 col-xs-6"><%= image_tag 'img/sponsors/v3.png', :class => 'img-responsive', :alt => 'V3 Alliance'  %></div>
				<div class="col-md-4 col-sm-4 col-xs-6"><%= image_tag 'img/sponsors/unlockd.png', :class => 'img-responsive', :alt => 'Unlockd'  %></div>
				<div class="col-md-4 col-sm-4 col-xs-6"><%= image_tag 'img/sponsors/wehi.jpg', :class => 'img-responsive', :alt => 'Walter & Eliza Hall Institute'  %></div>
				<div class="col-md-4 col-sm-4 col-xs-6"><%= image_tag 'img/sponsors/vlsci.jpg', :class => 'img-responsive', :alt => 'VLSCI'  %></div>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="row">
		<div class="col-xs-8 text-right"><p class="text-muted"><br>HealthHack 2013 is an <a href="http://au.okfn.org/" target="_blank">Open Knowledge Foundation Australia event</a></p></div>
		<div class="col-xs-4 text-left"><a href="http://au.okfn.org/" target="_blank"><%= image_tag 'img/sponsors/okfna.png', :alt => 'Open Knowledge Foundation Australia' %></a></div>
	</row>
	</div>
</div>
</footer>


