<footer>
  <div class="panel panel-default">
    <h3 class="sideoffset">Proud Sponsors</h3>
      <div class="row panel-body">    
        <div class="row sponsors" id="sponsors">
          <div class="col-md-3 col-sm-4 col-xs-6"><% link_to 'http://www.thoughtworks.com', :target => '_blank' do %><%= image_tag 'img/sponsors/tw14.jpg', :class => 'sponsor' ,:alt => 'ThoughtWorks' %><% end%></div>
          <div class="col-md-3 col-sm-4 col-xs-6"><% link_to 'http://www.redhat.com', :target => '_blank' do %><%= image_tag 'img/sponsors/redhat.png', :class => 'sponsor' , :alt => 'Redhat'  %><% end%></div>
          <div class="col-md-3 col-sm-4 col-xs-6"><% link_to 'http://www.garvan.org.au', :target => '_blank' do %><%= image_tag 'img/sponsors/garvan.jpg', :class => 'sponsor' , :alt => 'Garvan Institute' %><% end%></div>
          <div class="col-md-3 col-sm-4 col-xs-6"><% link_to 'http://www.v3.org.au/', :target => '_blank' do %><%= image_tag 'img/sponsors/v3.png', :class => 'sponsor' , :alt => 'V3 Alliance' %><% end%></div>
        </div>
        <div class="row sponsors" id="sponsors">
          <div class="col-md-3 col-sm-4 col-xs-6"><% link_to 'hhttp://www.monash.edu.au/', :target => '_blank' do %><%= image_tag 'img/sponsors/monash.jpg', :class => 'sponsor' , :alt => 'Monash University' %><% end%></div>
          <div class="col-md-3 col-sm-4 col-xs-6"><% link_to 'https://www.vlsci.org.au', :target => '_blank' do %><%= image_tag 'img/sponsors/logo_vlsci.jpg', :class => 'sponsor' , :alt => 'VLSCI'  %><% end%></div>
          <div class="col-md-3 col-sm-4 col-xs-6"><% link_to 'http://lifeletters.com.au/', :target => '_blank' do %><%= image_tag 'img/sponsors/lifeletters.png', :class => 'sponsor' , :alt => 'LifeLetters'  %><% end%></div>
           <div class="col-md-3 col-sm-4 col-xs-6"><% link_to 'http://changemakersfestival.org/event/healthhack-2/', :target => '_blank' do %><%= image_tag 'img/sponsors/changemakers.png', :class => 'sponsor' , :alt => 'Part of the Change Makers Festival' %><% end%>
          </div>
        </div>
        <div class="row sponsors" id="sponsors">
          <div class="col-md-3 col-sm-4 col-xs-6"><% link_to 'https://www.nectar.org.au', :target => '_blank' do %><%= image_tag 'img/sponsors/NeCTAR.jpg', :class => 'sponsor' , :alt => 'NeCTAR' %><% end%></div>
          <div class="col-md-3 col-sm-4 col-xs-6"><% link_to 'http://fishburners.org/', :target => '_blank' do %><%= image_tag 'img/sponsors/fishburners.png', :class => 'sponsor' , :alt => 'FishBurners' %><% end%></div>
        </div>
      </div>
   </div> 
</footer>   