<footer>
  <div class="panel panel-default">
    <h3 class="sideoffset">Proud Sponsors</h3>
      <div class="row panel-body">
        <div class="row" id="sponsors">
          <div class="col-md-3 col-sm-3 col-xs-6"><% link_to 'http://www.thoughtworks.com', :target => '_blank' do %><%= image_tag 'img/sponsors/tw14.jpg', :class => 'img-responsive', :alt => 'ThoughtWorks' %><% end%></div>
          <div class="col-md-3 col-sm-3 col-xs-6"><% link_to 'http://www.redhat.com', :target => '_blank' do %><%= image_tag 'img/sponsors/redhat.png', :class => 'img-responsive', :alt => 'Redhat'  %><% end%></div>
          <div class="col-md-3 col-sm-3 col-xs-6"><% link_to 'http://www.garvan.org.au', :target => '_blank' do %><%= image_tag 'img/sponsors/garvan.jpg', :class => 'img-responsive', :alt => 'Garvan Institute' %><% end%></div>
          <div class="col-md-3 col-sm-3 col-xs-6"><% link_to 'http://www.v3.org.au/', :target => '_blank' do %><%= image_tag 'img/sponsors/v3.png', :class => 'img-responsive', :alt => 'V3 Alliance' %><% end%></div>
        </div>
        <div class="row" id="sponsors">
          <div class="col-md-3 col-sm-3 col-xs-6"><% link_to 'https://www.nectar.org.au', :target => '_blank' do %><%= image_tag 'img/sponsors/NeCTAR.jpg', :class => 'img-responsive', :alt => 'NeCTAR' %><% end%></div>
          <div class="col-md-3 col-sm-3 col-xs-6"><% link_to 'https://www.vlsci.org.au', :target => '_blank' do %><%= image_tag 'img/sponsors/logo_vlsci.jpg', :class => 'img-responsive', :alt => 'VLSCI'  %><% end%></div>
        </div>
      </div>
   </div> 
</footer>   