---
title: Health Hack - Sponsors
---
<script>
    // reset on each load
    window.sponsor_names = [];
</script>


<div class="container-white-background">
<div class="top-container-base top-container-sponsors">
    <div class="row">
        <h1>Sponsors</h1>
        <h3>The companies that make a difference</h3>
    </div>
</div>
<div class="clearfix thin-container-normal">
    <%= partial(:sponsorsTemplate, :locals => { :sponsorName => "thoughtworks" }) %>
    <%= partial(:sponsorsTemplate, :locals => { :sponsorName => "garvan" }) %>
    <%= partial(:sponsorsTemplate, :locals => { :sponsorName => "fishburners" }) %>
    <%= partial(:sponsorsTemplate, :locals => { :sponsorName => "qcif" }) %>
    <%= partial(:sponsorsTemplate, :locals => { :sponsorName => "rivercitylabs" }) %>
</div>
<script>
    $(document).ready(function() {
        load_sponsors(true, sponsor_names);

        $(window).resize(function() {
            load_sponsors(false, sponsor_names);
        });
    });
</script>
<%= partial "sponsorCallout" %>


