---
title: Health Hack - Sponsors
---
<div class="container-white-background">
<div class="top-container-base top-container-sponsors">
    <div class="row">
        <h1>Sponsors</h1>
        <h3>The companies that make a difference</h3>
    </div>
</div>
<div class="clearfix thin-container-normal">
    <%= partial(:sponsorsTemplate, :locals => { :sponsorName => "thoughtworks" }) %>
    <%= partial(:sponsorsTemplate, :locals => { :sponsorName => "garvan" }) %>
    <%= partial(:sponsorsTemplate, :locals => { :sponsorName => "fishburners" }) %>
    <%= partial(:sponsorsTemplate, :locals => { :sponsorName => "rivercitylabs" }) %>
</div>
<script>
    $(window).load(function() {
        equalheight('.sponsor-block-cn');
        centrewithin('.sponsor-block-cn');
    });
    $(window).resize(function() {
        equalheight('.sponsor-block-cn');
        centrewithin('.sponsor-block-cn');
    });
</script>
<%= partial "sponsorCallout" %>


